
.idea/misc.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/BetterMCStats.iml
.idea/workspace.xml
.idea/workspace.xml
.idea/workspace.xml
.idea/misc.xml
.idea/workspace.xml
.idea/bettermcstats.iml
.idea/misc.xml
.idea/bettermcstats.iml
*.pyc
venv2/*
.idea/bettermcstats.iml
.idea/misc.xml
.idea/workspace.xml
.idea/workspace.xml
